{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row mt-5 text-center">
        <div class="col-lg-4 offset-lg-4">
            <form method="post" class="form-signin">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 mb-lg-5 font-weight-normal">Connexion</h1>
                <label for="login" class="sr-only">Login</label>
                <input type="text" value="{{ last_username }}" name="login" id="login" class="form-control"
                       placeholder="Login ou email" required autofocus>
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                       required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3 mt-lg-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-outline-success btn-block" type="submit">
                    <i class="fas fa-sign-in-alt"></i> Se connecter
                </button>
            </form>


            <p class="or"><span>OU</span></p>

            <a href="{{ path('app_register') }}" class="btn btn-outline-primary btn-block"><i class="fas fa-user-plus"></i> S'inscrire</a>
        </div>
    </div>
{% endblock %}
