{% extends 'base.html.twig' %}

{% block title %}Manga Manager, la gestion de vos mangas plus facilement{% endblock %}

{% block body %}

    <div class="mt-lg-5 mb-lg-5 home-presentation">
        <h1 class="display-4">Manga Manager</h1>
        <p class="lead">
            Manga Manager permet de <strong>gérer votre liste de mangas</strong> de façon simple et efficace.<br/>
            Vous pourrez sans soucis retrouver rapidement à quel numéro vous vous êtes arrêté.<br/>
        </p>
    </div>


    <h2>Derniers manga ajoutés</h2>

    <div class="row">
        {% for book in books %}
            <div class="col-lg-3 text-center">
                {% include 'book/_book_display.html.twig' with {book: book} %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
