{% extends 'base.html.twig' %}

{% block title %}Ma collection - Manga Manager{% endblock %}

{% block body %}

    <h1 class="mb-lg-5">Ma collection</h1>

    {% if user_books %}
        <div class="row">
            {% for user_book in user_books %}
                <div class="col-lg-3 text-center">
                    {% include 'book/_book_display.html.twig' with {book: user_book.book, user_book: user_book} only %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>
            Vous n'avez pas encore de manga dans votre collection.<br/>
            Vous pouvez en chercher via <a href="{{ path('app_book') }}">la recherche</a>
        </p>
    {% endif %}

{% endblock %}
