{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Admin / Manga{% endblock %}

{% block body %}
    <h1>Ajouter un manga</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
